.playlist
  top: $header-height
  left: 0
  right: 0
  bottom: 0
  position: absolute

  &__item
    padding 8px 16px
    height: 60px
    //background-color $color-divider

    &-thumb
      line-height 0px

    &-name
      color $color-background

    &-number
      color $color-divider