.playlist-header
  color $color-background
  text-align: center

  .select-wrapper
    top 4px

    span.caret
      color $color-background

  &:after
    content ''
    position: absolute
    background-color $color-divider
    left: 8px
    right 8px
    height 1px
    margin-top: -3px

  &__counter
    width 80px

  &__settings
    padding 0 8px