$left-column-width-closed = 64px
$left-column-width-opened = 264px
$right-column-width-opened = 272px
$right-column-width-closed = 0px

$header-height = 64px

$color-darkest = #000
$color-panel = #1A1A1A
$color-divider = #2A2B2C
$color-background = #F1F1F1
$color-card = #FFF

$slide-button-width = 32px